Name  : Arivazhagan.B

Topic : Multiple Linear Regression in Machine Learning

Email : barivazhagan8@gmail.com

## Multiple Linear Regression (MLR)

Multiple linear regression (MLR) is a statistical method that predicts a dependent variable using multiple independent variable.It's an extension of simple linear regression ,which uses only one independent variables.

## Carprice Dataset

**Data information:**

* Car Model  : BMW X5,Audi,Mercedez Benz,Toyota.

* Mileage    : Number of miles the car has been driven.

* Sell Price : Selling price of the car in USD.

* Age        : Age of car in year.

I will be working **Carprice Dataset** these excercise.For now,I will focus on the Using Machine Learning Multiple Linear Regression 

for prediction dask.

** Import Libraries **

In [8]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

** Read dataset **

In [34]:
df=pd.read_csv(r'C:\Users\ELCOT\Desktop\csv file\Machine Learning\LInear Regression\Multiple Linear Regression\carprices.csv')
df

         Car Model  Mileage  Sell Price  Age
0           BMW X5    69000       18000    6
1           BMW X5    35000       34000    3
2           BMW X5    57000       26100    5
3           BMW X5    22500       40000    2
4           BMW X5    46000       31500    4
5             Audi    59000       29400    5
6             Audi    52000       32000    5
7             Audi    72000       19300    6
8             Audi    91000       12000    8
9   Mercedez Benz     67000       22000    6
10  Mercedez Benz     83000       20000    7
11  Mercedez Benz     79000       21000    7
12  Mercedez Benz     59000       33000    5
13          Toyota    51000       42000    4
14          Toyota    65000       32000    7
15          Toyota    39000       55000    5

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Car Model   16 non-null     object
 1   Mileage     16 non-null     int64
 2   Sell Price  16 non-null     int64
 3   Age         16 non-null     int64
dtypes: int64(3), object(1)
memory usage: 644.0+ bytes

In [43]:
df.describe()

            Mileage    Sell Price        Age
count     16.000000     16.000000  16.000000
mean   59156.250000  29206.250000   5.312500
std    18189.482996  10761.751329   1.579821
min    22500.000000  12000.000000   2.000000
25%    49750.000000  20750.000000   4.750000
50%    59000.000000  30450.000000   5.000000
75%    69750.000000  33250.000000   6.250000
max    91000.000000  55000.000000   8.000000

dummies -It is refer to dummy variables(also known us one - hot encoding).They are used to categorical data into a 

numerical format that can be used in machine learning models.

In [54]:
dummies=pd.get_dummies(df['Car Model'])
dummies

     Audi  BMW X5  Mercedez Benz   Toyota
0   False    True           False   False
1   False    True           False   False
2   False    True           False   False
3   False    True           False   False
4   False    True           False   False
5    True   False           False   False
6    True   False           False   False
7    True   False           False   False
8    True   False           False   False
9   False   False            True   False
10  False   False            True   False
11  False   False            True   False
12  False   False            True   False
13  False   False           False    True
14  False   False           False    True
15  False   False           False    True

In [56]:
merge=pd.concat([df,dummies],axis='columns')
merge

,Car Model,Mileage,Sell Price,Age,Audi,BMW X5,Mercedez Benz,Toyota
0,BMW X5,69000,18000,6,False,True,False,False
1,BMW X5,35000,34000,3,False,True,False,False
2,BMW X5,57000,26100,5,False,True,False,False
3,BMW X5,22500,40000,2,False,True,False,False
4,BMW X5,46000,31500,4,False,True,False,False
5,Audi,59000,29400,5,True,False,False,False
6,Audi,52000,32000,5,True,False,False,False
7,Audi,72000,19300,6,True,False,False,False
8,Audi,91000,12000,8,True,False,False,False
9,Mercedez Benz,67000,22000,6,False,False,True,False
10,Mercedez Benz,83000,20000,7,False,False,True,False
11,Mercedez Benz,79000,21000,7,False,False,True,False
12,Mercedez Benz,59000,33000,5,False,False,True,False
13,Toyota,51000,42000,4,False,False,False,True
14,Toyota,65000,32000,7,False,False,False,True
15,Toyota,39000,55000,5,False,False,False,True

In [60]:
final=merge.drop(['Car Model'],axis='columns')
final

    Mileage  Sell Price  Age   Audi  BMW X5  Mercedez Benz   Toyota
0     69000       18000    6  False    True           False   False
1     35000       34000    3  False    True           False   False
2     57000       26100    5  False    True           False   False
3     22500       40000    2  False    True           False   False
4     46000       31500    4  False    True           False   False
5     59000       29400    5   True   False           False   False
6     52000       32000    5   True   False           False   False
7     72000       19300    6   True   False           False   False
8     91000       12000    8   True   False           False   False
9     67000       22000    6  False   False            True   False
10    83000       20000    7  False   False            True   False
11    79000       21000    7  False   False            True   False
12    59000       33000    5  False   False            True   False
13    51000       42000    4  False   False           False    True
14    65000       32000    7  False   False           False    True
15    39000       55000    5  False   False           False    True

In [62]:
final.columns

Index(['Mileage', 'Sell Price', 'Age', 'Audi', 'BMW X5', 'Mercedez Benz ',
       'Toyota'],
      dtype='object')

In [ ]:
** Segregate dataset into Independent variable(x) and Dependent variable (y)

In [92]:
predictors=['Mileage','Age','Audi','BMW X5','Mercedez Benz ','Toyota']
x=final[predictors]
y=final['Sell Price']
x.shape,y.shape

((16, 6), (16,))

** Spliting dataset into training and testing **

In [100]:
from sklearn.model_selection import train_test_split

In [129]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=43)

 ** Fitting the simple linear regression Model to the training dataset and Prediction of trainig set Result.**

In [131]:
from sklearn.linear_model import LinearRegression

In [133]:
reg=LinearRegression()
reg

LinearRegression()

In [135]:
model=reg.fit(x_train,y_train)

** Testing Result **

In [137]:
model.score(x_test,y_test)

0.8116899171688136

** Training Result **

In [139]:
model.score(x_train,y_train)

0.9588077853742553